@define-color primary-colour rgba(10,10,10,0.9);
@define-color primary-colour-active rgba(40,40,40,0.8);
@define-color text rgba(255,255,255,1);

/* General */ 
* {
    all: unset;
}

/* Improve by ensuring all buttons are in boxes and define min widths and heights */
button:hover{
/*     opacity: 0.7; */
    background-color: rgb(255, 0, 0);
}

.menu_container{
    background-color: rgba(0,0,0,0);
}

.menu_container, .volume_slider, .power_menu, .quick_setting, .device_info, .now_playing_container, .power_warning_container{
    margin: 10px;
    border-radius: 10px;
}

.volume_slider, .power_menu{
    padding: 20px;
    min-width: 100px;
}

/* Notifications */
.notification_item{
  min-width: 1px; 
  min-height: 1px;
  background-color: @theme_bg_color;
  color: @theme_text_color;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.notification_image{
  font-size: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

/* Bar */
.bar{
    background-color: rgba(255,255,255,0.03);
    color: @text;
}

.bar_container{
    padding: 10px;
}

.bar_item{
    border-radius: 45px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @theme_bg_color;
    color: @theme_text_color;
    transition: opacity 0.2s;
}

.bar_workspaces{
    padding: 3px;
}

.bar_workspace{
    border-radius: 45px;
    padding-right: 10px;
    padding-left: 10px;
}

.bar_workspace.focused{
    background-color: rgba(255,255,255,0.2);
}

.bar_menu{
    font-size: 25px;
    transition: background-color 0.2s;
    padding-right: 15px;
}

/* App Launcher */
.app_menu_container{
  padding: 15px;
  background-color: @theme_bg_color;
  border-radius: 10px;
  min-width: 500px;
  min-height: 300px;
}

.app_menu_input{
  font-size: 20px;
  padding: 5px;
  color: @theme_text_color;
}

.app_menu_entry{
  border-width: 0.5px;
  border-style: solid;
  border-color: @theme_border_color;
  border-radius: 10px;

  padding: 5px;
  margin-top: 5px;

  transition: border-width 0.4s;
}

.app_menu_entry.active{
    border-width: 1px;
    background-color: @theme_border_color;
}

.app_menu_entry_text, .app_menu_entry_icon{
  font-size: 28px;
}

/* Player */
.now_playing_container{
    padding: 10px;
    background-color: @theme_bg_color;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.now_playing_info{
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 20px;
}

.now_playing_info_artist{
    color: rgba(255,255,255,0.8);
}

/* Volume Slider */
.volume_slider{
    background-color: @theme_bg_color;
}

.volume_scale{
  margin-left: 20px;
  margin-right: 0px;
  padding: 5px;
}

trough{
  background-color: @theme_fg_color;
  color: rgba(255,255,255,1);
}

highlight{
  background-color: @theme_selected_bg_color;
}

slider{  
  min-height: 10px;
  min-width: 10px;
  background-color: rgba(0,0,0,0);
}

/* Quick Settings */
.quick_setting{
  min-width: 140px;
  min-height: 140px;
  background-color: @theme_bg_color;
  font-size: 34px;
}

.quick_setting:checked{
    background-color: @theme_base_color;
    border-color: @theme_border_color;
    border-style: solid;
    border-width: 1.5px;
    min-width: calc(140px - 4px);
    min-height: calc(140px - 4px);
}

.quick_setting_expand{

}

/* Device Info */
.device_info{
  background-color: @theme_bg_color;
  padding: 10px;
  min-width: 120px;
  min-height: 120px;
  font-size: 20px;
}

/* Power Menu */
.power_menu{
  background-color: @theme_bg_color;
  min-width: 260px;
}

.power_button{
  font-size: 26px;
  min-width: 60px;
  min-height: 60px;
}

.power_button:hover{
  background-color: rgba(255,255,255, 0.1);
  border-radius: 45px;
}

/* Power Warning */
.power_warning_container{
  background-color: @theme_base_color;
    padding: 10px;
}

.power_warning_text{
    font-size: 24px;
}

.power_warning_button{
  background-color: @theme_bg_color;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px;
}
