@use "sass:string";

$bg: string.unquote("@theme_bg_color");
$fg: string.unquote("@theme_fg_color");
$bg_selected: string.unquote("@theme_selected_bg_color");
$fg_selected: string.unquote("@theme_selected_fg_color");
$base: string.unquote("@theme_base_color");
$border: string.unquote("@borders");

@function gtk-alpha($color, $alpha) {
    @return string.unquote("alpha(#{$color}, #{$alpha})");
}

window {
  background-color: rgba(0,0,0,0);
}

.window {
  min-width: 200px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}

button {
  all: unset;
  color: $fg;
  background-color: gtk-alpha($bg, 0.8);
  padding: 5px;

  border-style:solid;
  border-width: 1px;
  border-color: gtk-alpha($border, 0.5);
  border-radius: 10px;

  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  color: $fg_selected;
  background-color: $bg;
}

button:active {
  color: $fg;
  background-color: $bg;
}

levelbar block.filled {
  background-color: gtk-alpha($bg, 0.9);
  border: none;
}

levelbar block.empty {
  background-color: gtk-alpha($base, 0.9);
  border: none;
}

.disabled, .disabled:hover, .disabled:active {
  opacity: 0.5;
  background-color: $bg;
}

.sidebar_mpris_label {
  all: unset;
  background-color: gtk-alpha($bg, 0.7);
  padding: 5px;
  margin-top: 10px;

  border-radius: 5px;

  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar_mpris_window {
  margin-left: 10px;
}

.sidebar_mpris_window:hover .sidebar_mpris_label, .sidebar_mpris_window:hover .sidebar_mpris_media {
  opacity: 1;
}

.sidebar_mpris_art {
  border-radius: 25px;
}

.sidebar_mpris_media {
  opacity: 0;
}

.sidebar_mpris_media {
  background: none;
  border: none;
  font-size: 16px;
  min-height: 30px;
  min-width: 30px;
  border-radius: 45px;
  margin: 5px;
  background-color: gtk-alpha($bg, 0.2);
}

.sidebar_mpris_media:hover {
  background-color: gtk-alpha($bg, 0.8);
}

.sidebar_cava_box {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 5px;
}

.sidebar_cava_bar {
  background-color: gtk-alpha($base, 0.7);
}

.sidebar_mpris_title {
  font-size: 12px;
}

.sidebar_mpris_artist {
  font-size: 10px;
}

.sidebar_volume_label {
  font-size: 14px;
  padding-right: 12px;
  padding-left: 12px;
}

.sidebar_appmenu_window {
  padding: 5px;
}

.sidebar_appmenu_entry {
  margin-bottom: 5px;
  background-color: gtk-alpha($bg, 0.2);
}

.sidebar_appmenu_entry:focus-within {
  background-color: $bg;
  outline: none;
  box-shadow: none;
  border: none;
}

.sidebar_appmenu_button {
  background-color: gtk-alpha($bg, 0.8);
  transition: background-color 0.5s;
}

.sidebar_appmenu_button.selected {
  color: $fg_selected;
  background-color: gtk-alpha($bg_selected,0.8);
}

.menu_container {
  min-height: 200px;
  min-width: 480px;
}

.menu_split_button_container {
  min-width: 150px;
  min-height: 60px;

  margin-left: 5px;
  margin-bottom: 5px;
}

.menu_split_button {
  border-radius: 0px; 
  border-color: gtk-alpha($border, 0.5);
  font-size: 20px;
}

.menu_split_button_left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-style: none;
  min-width: 60px;
}

.menu_split_button_right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right-style: solid;
}

.menu_button {
  margin: 2px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px; 
  min-height: 20px;
  border-color: gtk-alpha($border, 0.5);
}

.menu_power_box:hover .menu_power_button {

}

.menu_power_button {

}

.menu_notification {
  margin: 5px;
  background-color: gtk-alpha($bg, 0.4);
  border-radius: 10px;
}
.menu_notification_expand {
  background-color: rgba(0,0,0,0);
  border: none;
}

.menu_notification_content {
  font-size: 12px;
}

.menu_system_label {
  padding: 20px;
  padding-left: auto;
  padding-right: auto;
}

.menu_system_box {
  background-color: gtk-alpha($bg, 0.5);
  border-radius: 10px;
  margin: 5px;
}

.menu_mixer_box {
  border-radius: 10px;
  padding: 10px;
  background-color: gtk-alpha($base, 0.6);
}

.menu_mixer_bar {
  margin: 5px;
  padding: 10px;

  border-radius: 5px;
  min-width: 20px;
  font-size: 8px;
  background-color: gtk-alpha($bg, 0.5);
}

.menu_mixer_label {
  min-height: 40px;
  font-size: 8px;
}
